<div class="row">
    <div class="container card col-md-2 col-12">
        <label class="title">Pessoas Cadastradas</label>
        <label class="contador">{{pessoas}}</label>
    </div>
    <div class="container card col-md-3 col-12">
        <label class="title">Contatos Cadastrados</label>
        <label class="contador">{{contatos}}</label>
    </div>
    <div class="container card col-md-4 col-12">
        <label class="title">Telefones Cadastrados</label>
        <label class="contador">{{telefones}}</label>
    </div>
    <div class="container card col-md-2 col-12">
        <label class="title">E-Mail Cadastrados</label>
        <label class="contador">{{emails}}</label>
    </div>
</div>